# macOS
.DS_Store

# Editor / IDE
.vscode/
jsconfig.json
.idea

# JavaScript / Node
node_modules/
npm-debug.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo / React Native
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# Turborepo / build artifacts
.turbo/
lib/
build/
coverage/
*.tsbuildinfo

# Xcode / iOS
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
**/.xcode.env.local
example/ios/Pods
ios/generated

# Android
.classpath
.cxx
.gradle
.project
.settings
local.properties
android.iml
android/app/libs
android/keystores/debug.keystore
android/generated

# Native generated folders (Expo prebuild)
ios/
android/

# Buck
buck-out/
\.buckd/

# Ruby
example/vendor/

# Kotlin
.kotlin/

# Certificates / keys
*.orig.*
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# Local env files
.env*.local

# graphify
graphify-out/cost.json
# graphify-out/cache/
graphify-out/.graphify_python
graphify-out/.graphify_root
